*{
    margin: 0;
    padding: 0;
}
.container{
    width: 75%;
    max-width: 1440px;
    margin: 0 auto;
}
.header-area {
    background-image: url("./resources/Banner\ Image.png");
    height: 600px;
}